<h1>Edit <%= @bike.name %></h1>

<%= render('layouts/errors', :object => @bike) %>
<form action="/bikes/<%=@bike.id%>" method="post">
  <input name="_method" type="hidden" value="patch">
  <%= render('form') %>
  <br><button>Update Report</button>
</form>

<p><a href="/bikes/<%=@bike.id %>"
  data-confirm="Are you sure"
  data-method="Delete"
  rel="nofollow">Found Bike (Remove from database)</a></p>
