<h1>Stolen From <%=@bike.location.neighborhood %></h1>

<h3>Make and Model: <%= @bike.name %></h3>
<h3>Serial: <%= @bike.serial %></h3>
<h5>Description: <%= @bike.description %></h5>

<p><a href ="/edit/<%=@bike.id%>">Edit Report</a></p>
<p><a href="/">Return to main page</a></p>


